<!-- <div class="container">
    <input type="text" [(ngModel)]="searchText" placeholder="search text goes here">
  <div class="card col-lg-4 col-sm-6 col-xs-12" *ngFor="let game of gamesList | search: searchText ">
    {{ game.nome }}
  </div>
</div> -->

<div class="container">

    <form class="form-inline">
        <input type="text" [(ngModel)]="searchText" placeholder="search text goes here" [ngModelOptions]="{standalone: true}">
        <div class="custom-control custom-checkbox my-1 mr-sm-2">
          <input type="checkbox" class="custom-control-input" id="customControlInline">
          <label class="custom-control-label" for="customControlInline">Remember my preference</label>
        </div>

        <button type="submit" class="btn btn-primary my-1">Submit</button>
      </form>
  <div class="row">
    <div class="col-lg-3 col-sm-6 col-xs-12" *ngFor="let item of gamesList | search: searchText;">
      <!-- <img class="card-img-top" [src]="item.game.box.medium" width="136px" [alt]="item.game.name"> -->

      <div class="card mb-2">
        <div class="card-body text-center">
          <figure class="figure">
            <img class="figure-img img-fluid" [src]="item.game.box.medium" [alt]="item.game.name">
            <figcaption class="figure-caption text-lowercase">{{item.game.name}}</figcaption>
          </figure>
        </div>
      </div>



      <!-- <div class="card-block">
        <h4 class="card-title" >{{item.game.name}}</h4>
        <div class="card-text">
          <div class="row">
            <div class="col-lg-4 col-xs-12 col-sm-6 ">
              Height:  mt
            </div>
            <div class="col-lg-4  col-xs-12 col-sm-6">
              Weight:  lb
            </div>
            <div class="col-lg-4  col-xs-12 col-sm-6">
              Length:  ft
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>

